.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#mapid { 
  height: 180px;
  overflow: hidden;
}
.car-container{
margin: auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}